{% extends 'store/index.html' %}
{% load static %}
{% block content %}

<table class="table" id="table1">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{request.user.username}}</td>
      <td>{{request.user.email}}</td>
      <td>{{request.user.customer.phone}}</td>
        <td><button onclick="update_profile()">edit</button></td>
    </tr>
  </tbody>
</table>
<div id="demo"></div>
<hr>
      <div class="row jumbotron">
            <div class="col">
                <h1>Your Pending Order</h1>
            </div>
            <div class="col">
                <h1>Your Successful Order</h1>
            </div>
      </div>



<div class="row jumbotron products-container">
		{% for product in product  %}
		<div class="product-card">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>
				<button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				<a class="btn btn-outline-success" href="{% url 'show-detail' product.id %}">View</a>
				<h4 style="display: inline-block; float: right"><strong>{{product.price}}</strong></h4>
			</div>
		</div>
		{% endfor %}
	</div>


<script>
 function update_profile(){
   document.getElementById("table1").innerHTML='';

   document.getElementById("demo").innerHTML +=
   "hello binay";

   }
</script>
{% endblock%}