
{% extends 'store/index.html' %}
{% load static %}

{% block content %}






	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">
 {% for orderitem, range, nSlides in allProds %}
                <h5 class="my-4 ">SHIPPING ADDRESS</h5>

			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2">ORDER ID:-{{orderitem.0.order.id}}</div>

					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>

                <div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{orderitem.0.product.imageURL}}"></div>
					<div style="flex:2"><p>{{orderitem.0.product.name}}</p></div>
					<div style="flex:1"><p>{{orderitem.0.product.price|floatformat:2}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{orderitem.0.quantity}}</p>
					</div>
					<div style="flex:1"><p>${{orderitem.0.get_total}}</p></div>
				</div>


				   {% for i in orderitem|slice:"1:"%}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{i.product.imageURL}}"></div>
					<div style="flex:2"><p>{{i.product.name}}</p></div>
					<div style="flex:1"><p>{{i.product.price|floatformat:2}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{i.quantity}}</p>
					</div>
					<div style="flex:1"><p>${{i.get_total}}</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
            {% endfor %}
	</div>
{% endblock content %}

